#top{
    border:1px solid #000;
    text-align: center;
}
#left{
    border:1px solid #000;
    float: left;
    width: 180px;
    height: 550px;
    text-align: center;
}
#right{
    border:1px solid #000;
    float: left;
    width: 1026px;
    overflow-y: scroll;
    height: 550px;
    text-align: center;
}
#footer{
    text-align: center;
    border:1px solid #000;
}
ul li{
    list-style: none;
}